<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../../js/vue.js"></script>
</head>
<body>
  <div id="root">
    <h1>姓：<input type="text" v-model="firstName"/></h1>
    <h1>名: <input type="text" v-model="lastName"/></h1>
    <h1>你的名字是：{{firstName}}-{{lastName}}</h1>
  </div>
  <script>
    Vue.config.productionTip = false;
    const vm = new Vue({
      el:'#root',
      data(){
        return{
          firstName:'么耶',
          lastName:'咩'
        }
      },
      methods:{

      }
    })
  </script>
</body>
</html>